fastapi==0.116.1
pydantic==2.11.7
uvicorn==0.35.0
simalign==0.4
transformers==4.53.2
numpy==2.3.1
regex==2024.11.6
requests==2.32.4
huggingface-hub==0.33.4
tokenizers==0.21.2
tqdm==4.67.1
typing_extensions==4.14.1
